:root {
	
	color-scheme:light dark;
  --background-color:light-dark(#82CAFF, #01101e);
  --text-color:light-dark(black, white);
}

body {
    background-color: var(--background-color);
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
    color: var(--text-color);
}

p {
    font-size: 1em;
     color: var(--text-color);
}

li {
    font-size: 1.3em;
    color: var(--text-color);
}

.zon {
    width: 12.5vw;
    height: 12.5vw;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    left: 75%;
    top: 10%;
}


.heuveltop {
    width: 100%;
    height: 100%;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: 20%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    max-width: fit-content;
}