:root {

    color-scheme: light dark;
    --background-color: light-dark(#82CAFF, #01101e);
    --background-color2: light-dark(#ffffff, #000000);
    --text-color: light-dark(black, white);
}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    margin: 0;
    overflow: hidden;
}

main {
    max-width: 36em;
    margin-inline: auto;
}

h1 {
    font-size: clamp(1.5rem, 1.25rem + 2vw, 3rem);
    color: var(--text-color);
    padding-left: 10%;
    padding-right: 10%;
}

p {
    font-size: 1em;
    color: var(--text-color);
    padding-left: 10%;
}

li {
    font-size: 1.3em;
    color: var(--text-color);
    padding-left: 10%;
}

.zon {
    width: 12.5vw;
    height: 12.5vw;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    left: 75%;
    top: 10%;
}


.heuveltop {
    width: 100%;
    height: 100%;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: 20%;
}

#mezelfKnop {
    position: absolute;
    top: 300px;
    background: none;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
    background-image: url(./images/svgcharacter.svg);
}

#leerdoelenKnop {
    position: absolute;
    top: 465px;
    left: 40%;
    background: none;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 75px;
    height: 75px;
    background-image: url(./images/leerdoelen.svg);
    transform: rotate(15deg);
}


dialog {
    width: clamp(300px, 90vw, 600px);
    height: clamp(100px, 60vw, 300px);
    background-color: var(--background-color2);
}

dialog::backdrop {
    background-color: #fff9;
    backdrop-filter: blur(4px);
}