:root {

}







body {
    background-color: #82CAFF;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1em;
}

li {
    font-size: 1.3em;
}

.zon {
    width: 12.5vw;
    height: 12.5vw;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    left: 75%;
    top: 10%;
}


.heuveltop {
    width: 100%;
    height: 100%;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: 20%;
}

.btn svg {
  margin-right: 8px;
  fill: currentColor;
}

img {

}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    max-width: fit-content;
}
